:root {
  --black-olive: hsla(43, 23%, 16%, 1);
  --battleship-gray: hsla(41, 13%, 52%, 1);
  --antiflash-white: hsla(60, 3%, 93%, 1);
  --taupe: hsla(38, 14%, 23%, 1);
  --eerie-black: hsla(47, 26%, 11%, 1);
}
